extends layout

block content
  h1= title
  
  form(method='POST' action='')
    div.form-group
      label(for='name') BlockCode:
      //input#block.form-control(type='text', placeholder='Sample block code' block='block' value=(undefined===block ? '' : blockCode.block))
      input#name.form-control(type='text', placeholder='Sample block code' name='name' value='block text')
    button.btn.btn-primary(type='submit') Submit

  if errors 
   ul
    for error in errors
     li!= error.msg
